body{
    background-image: linear-gradient(to right, rgb(203, 203, 252), rgb(55, 41, 77));
}
h1{
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 300%; 
    margin-left: 0%;
}
div{
    display: inline-block;
}
img{
    height: 206px;
    width: 206px;
    border: 3px solid #01bc94;
    margin-left: 0px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #c2d8fc;
    border: 3px solid #01bc94;
    margin-left: 0px;
}
section{
    margin: auto;
    width: 700px;
}

canvas{
    width: 300px;
    height: auto;
}


