body{
    background-image: linear-gradient(to right, rgb(203, 203, 252), rgb(55, 41, 77));
}
h1{
    background-color: #d7e0ef;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 300%; 
    margin-right: 70%;
    color: #260060;
    padding: .5%;
    border-radius: 10px;
}
p{
    background-color: #d7e0ef;
    margin-right: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: #260060;
    padding: .5%;
    border-radius: 10px;
}

div{
    display: inline-block;
}
img{
    height: 206px;
    width: 206px;
    border: 3px solid #01bc94;
    margin-left: 0px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #c2d8fc;
    border: 3px solid #01bc94;
    margin-left: 0px;
}
section{
    margin: auto;
    width: 700px;
}

#results{
    width: 400px;
    height: auto;
    display: inline-block;
} 

